<div>
  <p>Hello {{addUserDetails.firstName}}!</p>
  
  <form [ngFormOptions] = "{updateOn : 'blur'}">
    <label>First Name : </label>
    <input type="text" class="form-control" name="firstName" required [(ngModel)]="addUserDetails.firstName" />
    <br>
    <label>Last Name : </label>
    <input type="text" class="form-control" name="lastName" required [(ngModel)]="addUserDetails.lastName" />
    <br>
    <label>Locations : </label>
    <ul>
      <li *ngFor = "let loc of locations">
        {{loc.title}}
      </li>
    </ul>
    <br>
    <p>
      <input type="text" class="form-control" name="locations" required [(ngModel)]="location" /> 
    </p>
    <p>
      <input type="submit" class="btn" value="Add to Locations" (click)="addLocation(location)">
    </p>
    <br>
    <label>Stocks : {{stocks}}</label>
    <br>
    <ul>
        <li *ngFor = "let sto of stocks">
          {{sto.stockName}}
        </li>
      </ul>
    <p>
      <input type="text" class="form-control" name="stocks" required [(ngModel)]="stock" />
    </p>
    <p>
      <input type="submit" class="btn" value="Add to Stocks" (click) = "addStock(stock)" >
    </p>
    <br>

    </form>

    <p>
      {{addUserDetails.firstName}} {{addUserDetails.lastName}}
    </p>


    <!-- <table>
      <tr>
        <td>
          Locations : 
        </td>
        <td>
          <div *ngIf="locationCount > 0; else elseBlock">
            <table>
              <tr>
                <td>
                  Add Location  ({{locationCount}})
                </td>
                <td>
                  <input type="text" class="txt" name="name" placeholder="Location" [(ngModel)]="addUserDetails.locations.location">
                </td>
              </tr>
            </table>
          </div>
          <div #elseblock>
            <input type="button" class="btn" value="Add Location" (click) = "increaseLocation()">
          </div>
        </td>
      </tr>
      </table> -->
      <input type="submit" class="btn" value="Add Value To DB" (click) = "addToDB()">
    </div>