<!--The content below is only a placeholder and can be replaced.-->
<ul class = "col">
  <li>
    <a routerLink= "">Home</a>
  </li>
  <li>
      <a routerLink= "user">User</a>
  </li>
  <li>
      <a routerLink= "about">About</a>
  </li>
</ul>
<router-outlet></router-outlet>

