<div class="container">
  <strong>Tasks</strong>
  <br>
  <table class="col">
      <tr>
        <td>
          <input type="button" class="btn" value="{{checkStockButton}}" (click) = "enableStock()">
        </td>
        <td>
          <input type="button" class="btn" value="{{checkWeatherButton}}" (click) = "enableWeather()" >
        </td>
        <td>
          <input type="button" class="btn" value="{{addUserButton}}" (click) = "enableAddUser()">
        </td>
        <td>
          <input type="button" class="btn" value="{{updateUserButton}}" (click) = "enableUpdateUser()">
        </td>
      </tr>
  </table>


<!--  <input type="button" class="btn" value="Add User" > -->
</div>
<br>
<br>
<div class="life-container" *ngIf="checkStock">

  <ul>
    <li class="col" *ngFor="let user of users" (click)="getUserStockDetailsFromInternet(user)" > 
        {{user}}
    </li>
  </ul>
    <table class="life-container">
      <tr *ngFor="let userStockDetail of userStockDetails">
        <td>
            <table>
                <tr>
                  <td>Stock Name : </td>
                  <td>{{userStockDetail.stockName}}</td>
                </tr>
                <tr>
                  <td>Last Price : </td>
                  <td>{{userStockDetail.lastPrice}}</td>
                </tr>
                <tr>
                  <td>Last Change : </td>
                  <td>{{userStockDetail.lastChange}}</td>
                </tr>
                <tr>
                  <td>Last Peg : </td>
                  <td>{{userStockDetail.lastPeg}}</td>
                </tr>
                <tr>
                  <td>Last Dividend : </td>
                  <td>{{userStockDetail.lastDividend}}</td>
                </tr>
                <tr>
                  <td>Last Update : </td>
                  <td>{{userStockDetail.lastUpdated}}</td>
                </tr> 
              </table>
        </td>
      </tr>
    </table>
</div>

<div class="life-container" *ngIf="checkWeather">

    <ul>
      <li class="col" *ngFor="let user of users" (click)="getUserWeatherDetailsFromInternet(user)" > 
          {{user}}
      </li>
    </ul>
      <table class="life-container">
        <tr *ngFor="let userWeatherDetail of userWeatherDetails">
          <td>
              <table>
                  <tr>
                    <td>Weather Name : </td>
                    <td>{{userWeatherDetail.weather_state_name}}</td>
                  </tr>
                  <tr>
                    <td>Temperature[min/max] : </td>
                    <td>{{userWeatherDetail.the_temp}}[{{userWeatherDetail.min_temp}}/{{userWeatherDetail.max_temp}}]</td>
                  </tr>
                  <tr>
                    <td>Humidity : </td>
                    <td>{{userWeatherDetail.humidity}}</td>
                  </tr>
                  <tr>
                    <td>Visibility : </td>
                    <td>{{userWeatherDetail.visibility}}</td>
                  </tr>
                </table>
          </td>
        </tr>
      </table>
  </div>

<div class="life-container" *ngIf="addUser">
    <app-add-user></app-add-user>
</div>

<div class="life-container" *ngIf="updateUser">
    <app-update-user></app-update-user>
</div>