<strong>Active Users</strong>
<ul class="col">
  <p class = "life-container">
    <li *ngFor = "let user of users" (click) = "getUserDetails(user)" > {{user}} </li>
  </p>
</ul>

<div *ngIf = "userDataAvaialable">
  <strong>Details</strong>
  <br>
  <br>
  <!-- <p class = "life-container"> -->
    <table class = "life-container">
      <tr>
        <td>
          Name :
        </td>
        <td>
          {{userDetails.firstName}} {{userDetails.lastName}}
        </td>
      </tr>
      <tr>
        <td>
          Locations :
        </td>
        <td>
          <table>
            <tr>
              <td *ngFor = "let location of userDetails.locations">
                  {{location.title}}
              </td>
            </tr>
          </table>
        </td>
      </tr>
      <tr>
        <td>
          Stocks :
        </td>
        <td>
          <table>
            <tr>
              <td *ngFor = "let stock of userDetails.stocks">
                  {{stock.stockName}}
              </td>
            </tr>
          </table>
        </td>
        </tr>
    </table>
</div>